$opacity: rgba(17,19,30,0.200);
$primary: rgba(14,111,255,1);
$secondary: rgba(255,66,66,1);
$grey: rgba(179,172,162,1);
$black: rgba(35,36,42,1);
$white: rgba(255,255,255,1);
$color-1: rgba(255,201,40,1);
$color-2: rgba(255,177,157,1);
$color-3: rgba(255,244,212,1);
$color-4: rgba(216,246,255,1);